<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListMacchinaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListMacchinaEmpty}" rendered="#{macchinaController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{macchinaController.items.rowCount > 0}">
                    <h:outputText value="#{macchinaController.pagination.pageFirstItem + 1}..#{macchinaController.pagination.pageLastItem + 1}/#{macchinaController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{macchinaController.previous}" value="#{bundle.Previous} #{macchinaController.pagination.pageSize}" rendered="#{macchinaController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{macchinaController.next}" value="#{bundle.Next} #{macchinaController.pagination.pageSize}" rendered="#{macchinaController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{macchinaController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMacchinaTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMacchinaTitle_marca}"/>
                            </f:facet>
                            <h:outputText value="#{item.marca}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMacchinaTitle_modello}"/>
                            </f:facet>
                            <h:outputText value="#{item.modello}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMacchinaTitle_targa}"/>
                            </f:facet>
                            <h:outputText value="#{item.targa}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMacchinaTitle_idcliente}"/>
                            </f:facet>
                            <h:outputText value="#{item.idcliente}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMacchinaTitle_idofficina}"/>
                            </f:facet>
                            <h:outputText value="#{item.idofficina}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{macchinaController.prepareView}" value="#{bundle.ListMacchinaViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{macchinaController.prepareEdit}" value="#{bundle.ListMacchinaEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{macchinaController.destroy}" value="#{bundle.ListMacchinaDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{macchinaController.prepareCreate}" value="#{bundle.ListMacchinaCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListMacchinaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
