<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewMacchinaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewMacchinaLabel_id}"/>
                    <h:outputText value="#{macchinaController.selected.id}" title="#{bundle.ViewMacchinaTitle_id}"/>
                    <h:outputText value="#{bundle.ViewMacchinaLabel_marca}"/>
                    <h:outputText value="#{macchinaController.selected.marca}" title="#{bundle.ViewMacchinaTitle_marca}"/>
                    <h:outputText value="#{bundle.ViewMacchinaLabel_modello}"/>
                    <h:outputText value="#{macchinaController.selected.modello}" title="#{bundle.ViewMacchinaTitle_modello}"/>
                    <h:outputText value="#{bundle.ViewMacchinaLabel_targa}"/>
                    <h:outputText value="#{macchinaController.selected.targa}" title="#{bundle.ViewMacchinaTitle_targa}"/>
                    <h:outputText value="#{bundle.ViewMacchinaLabel_idcliente}"/>
                    <h:outputText value="#{macchinaController.selected.idcliente}" title="#{bundle.ViewMacchinaTitle_idcliente}"/>
                    <h:outputText value="#{bundle.ViewMacchinaLabel_idofficina}"/>
                    <h:outputText value="#{macchinaController.selected.idofficina}" title="#{bundle.ViewMacchinaTitle_idofficina}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{macchinaController.destroyAndView}" value="#{bundle.ViewMacchinaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewMacchinaEditLink}"/>
                <br />
                <h:commandLink action="#{macchinaController.prepareCreate}" value="#{bundle.ViewMacchinaCreateLink}" />
                <br />
                <h:commandLink action="#{macchinaController.prepareList}" value="#{bundle.ViewMacchinaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewMacchinaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
