<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditClienteTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditClienteLabel_id}" for="id" />
                    <h:inputText id="id" value="#{clienteController.selected.id}" title="#{bundle.EditClienteTitle_id}" required="true" requiredMessage="#{bundle.EditClienteRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditClienteLabel_nome}" for="nome" />
                    <h:inputText id="nome" value="#{clienteController.selected.nome}" title="#{bundle.EditClienteTitle_nome}" required="true" requiredMessage="#{bundle.EditClienteRequiredMessage_nome}"/>
                    <h:outputLabel value="#{bundle.EditClienteLabel_cognome}" for="cognome" />
                    <h:inputText id="cognome" value="#{clienteController.selected.cognome}" title="#{bundle.EditClienteTitle_cognome}" required="true" requiredMessage="#{bundle.EditClienteRequiredMessage_cognome}"/>
                    <h:outputLabel value="#{bundle.EditClienteLabel_indirizzo}" for="indirizzo" />
                    <h:inputText id="indirizzo" value="#{clienteController.selected.indirizzo}" title="#{bundle.EditClienteTitle_indirizzo}" required="true" requiredMessage="#{bundle.EditClienteRequiredMessage_indirizzo}"/>
                    <h:outputLabel value="#{bundle.EditClienteLabel_telefono}" for="telefono" />
                    <h:inputText id="telefono" value="#{clienteController.selected.telefono}" title="#{bundle.EditClienteTitle_telefono}" />
                </h:panelGrid>
                <h:commandLink action="#{clienteController.update}" value="#{bundle.EditClienteSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditClienteViewLink}"/>
                <br />
                <h:commandLink action="#{clienteController.prepareList}" value="#{bundle.EditClienteShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditClienteIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
