<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateMeccanicoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                     <h:outputLabel value="#{bundle.CreateMeccanicoLabel_id}" for="id" style="display:none;"/>
                    <h:inputHidden id="id" value="0"  requiredMessage="#{bundle.CreateMeccanicoRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.CreateMeccanicoLabel_nome}" for="nome" />
                    <h:inputText id="nome" value="#{meccanicoController.selected.nome}" title="#{bundle.CreateMeccanicoTitle_nome}" required="true" requiredMessage="#{bundle.CreateMeccanicoRequiredMessage_nome}"/>
                    <h:outputLabel value="#{bundle.CreateMeccanicoLabel_cognome}" for="cognome" />
                    <h:inputText id="cognome" value="#{meccanicoController.selected.cognome}" title="#{bundle.CreateMeccanicoTitle_cognome}" required="true" requiredMessage="#{bundle.CreateMeccanicoRequiredMessage_cognome}"/>
                    <h:outputLabel value="#{bundle.CreateMeccanicoLabel_idcapoofficina}" for="idcapoofficina" />
                    <h:selectOneMenu id="idcapoofficina" value="#{meccanicoController.selected.idcapoofficina}" title="#{bundle.CreateMeccanicoTitle_idcapoofficina}" >
                        <f:selectItems value="#{meccanicoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateMeccanicoLabel_idofficina}" for="idofficina" />
                    <h:selectOneMenu id="idofficina" value="#{meccanicoController.selected.idofficina}" title="#{bundle.CreateMeccanicoTitle_idofficina}" required="true" requiredMessage="#{bundle.CreateMeccanicoRequiredMessage_idofficina}">
                        <f:selectItems value="#{officinaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{meccanicoController.create}" value="#{bundle.CreateMeccanicoSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{meccanicoController.prepareList}" value="#{bundle.CreateMeccanicoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateMeccanicoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
