<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditMeccanicoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditMeccanicoLabel_id}" for="id" />
                    <h:inputText id="id" value="#{meccanicoController.selected.id}" title="#{bundle.EditMeccanicoTitle_id}" required="true" requiredMessage="#{bundle.EditMeccanicoRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditMeccanicoLabel_nome}" for="nome" />
                    <h:inputText id="nome" value="#{meccanicoController.selected.nome}" title="#{bundle.EditMeccanicoTitle_nome}" required="true" requiredMessage="#{bundle.EditMeccanicoRequiredMessage_nome}"/>
                    <h:outputLabel value="#{bundle.EditMeccanicoLabel_cognome}" for="cognome" />
                    <h:inputText id="cognome" value="#{meccanicoController.selected.cognome}" title="#{bundle.EditMeccanicoTitle_cognome}" required="true" requiredMessage="#{bundle.EditMeccanicoRequiredMessage_cognome}"/>
                    <h:outputLabel value="#{bundle.EditMeccanicoLabel_idcapoofficina}" for="idcapoofficina" />
                    <h:selectOneMenu id="idcapoofficina" value="#{meccanicoController.selected.idcapoofficina}" title="#{bundle.EditMeccanicoTitle_idcapoofficina}" >
                        <f:selectItems value="#{meccanicoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditMeccanicoLabel_idofficina}" for="idofficina" />
                    <h:selectOneMenu id="idofficina" value="#{meccanicoController.selected.idofficina}" title="#{bundle.EditMeccanicoTitle_idofficina}" required="true" requiredMessage="#{bundle.EditMeccanicoRequiredMessage_idofficina}">
                        <f:selectItems value="#{officinaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{meccanicoController.update}" value="#{bundle.EditMeccanicoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditMeccanicoViewLink}"/>
                <br />
                <h:commandLink action="#{meccanicoController.prepareList}" value="#{bundle.EditMeccanicoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditMeccanicoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
