<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewMeccanicoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewMeccanicoLabel_id}"/>
                    <h:outputText value="#{meccanicoController.selected.id}" title="#{bundle.ViewMeccanicoTitle_id}"/>
                    <h:outputText value="#{bundle.ViewMeccanicoLabel_nome}"/>
                    <h:outputText value="#{meccanicoController.selected.nome}" title="#{bundle.ViewMeccanicoTitle_nome}"/>
                    <h:outputText value="#{bundle.ViewMeccanicoLabel_cognome}"/>
                    <h:outputText value="#{meccanicoController.selected.cognome}" title="#{bundle.ViewMeccanicoTitle_cognome}"/>
                    <h:outputText value="#{bundle.ViewMeccanicoLabel_idcapoofficina}"/>
                    <h:outputText value="#{meccanicoController.selected.idcapoofficina}" title="#{bundle.ViewMeccanicoTitle_idcapoofficina}"/>
                    <h:outputText value="#{bundle.ViewMeccanicoLabel_idofficina}"/>
                    <h:outputText value="#{meccanicoController.selected.idofficina}" title="#{bundle.ViewMeccanicoTitle_idofficina}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{meccanicoController.destroyAndView}" value="#{bundle.ViewMeccanicoDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewMeccanicoEditLink}"/>
                <br />
                <h:commandLink action="#{meccanicoController.prepareCreate}" value="#{bundle.ViewMeccanicoCreateLink}" />
                <br />
                <h:commandLink action="#{meccanicoController.prepareList}" value="#{bundle.ViewMeccanicoShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewMeccanicoIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
