<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateOfficinaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                     <h:outputLabel value="#{bundle.CreateOfficinaLabel_id}" for="id" style="display:none;"/>
                    <h:inputHidden id="id" value="0"  requiredMessage="#{bundle.CreateOfficinaRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.CreateOfficinaLabel_indirizzo}" for="indirizzo" />
                    <h:inputText id="indirizzo" value="#{officinaController.selected.indirizzo}" title="#{bundle.CreateOfficinaTitle_indirizzo}" required="true" requiredMessage="#{bundle.CreateOfficinaRequiredMessage_indirizzo}"/>
                    <h:outputLabel value="#{bundle.CreateOfficinaLabel_postiauto}" for="postiauto" />
                    <h:inputText id="postiauto" value="#{officinaController.selected.postiauto}" title="#{bundle.CreateOfficinaTitle_postiauto}" />
                    <h:outputLabel value="#{bundle.CreateOfficinaLabel_nome}" for="nome" />
                    <h:inputText id="nome" value="#{officinaController.selected.nome}" title="#{bundle.CreateOfficinaTitle_nome}" required="true" requiredMessage="#{bundle.CreateOfficinaRequiredMessage_nome}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{officinaController.create}" value="#{bundle.CreateOfficinaSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{officinaController.prepareList}" value="#{bundle.CreateOfficinaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateOfficinaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
