<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditOfficinaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditOfficinaLabel_id}" for="id" />
                    <h:inputText id="id" value="#{officinaController.selected.id}" title="#{bundle.EditOfficinaTitle_id}" required="true" requiredMessage="#{bundle.EditOfficinaRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditOfficinaLabel_indirizzo}" for="indirizzo" />
                    <h:inputText id="indirizzo" value="#{officinaController.selected.indirizzo}" title="#{bundle.EditOfficinaTitle_indirizzo}" required="true" requiredMessage="#{bundle.EditOfficinaRequiredMessage_indirizzo}"/>
                    <h:outputLabel value="#{bundle.EditOfficinaLabel_postiauto}" for="postiauto" />
                    <h:inputText id="postiauto" value="#{officinaController.selected.postiauto}" title="#{bundle.EditOfficinaTitle_postiauto}" />
                    <h:outputLabel value="#{bundle.EditOfficinaLabel_nome}" for="nome" />
                    <h:inputText id="nome" value="#{officinaController.selected.nome}" title="#{bundle.EditOfficinaTitle_nome}" required="true" requiredMessage="#{bundle.EditOfficinaRequiredMessage_nome}"/>
                </h:panelGrid>
                <h:commandLink action="#{officinaController.update}" value="#{bundle.EditOfficinaSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditOfficinaViewLink}"/>
                <br />
                <h:commandLink action="#{officinaController.prepareList}" value="#{bundle.EditOfficinaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditOfficinaIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
