<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewOfficinaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewOfficinaLabel_id}"/>
                    <h:outputText value="#{officinaController.selected.id}" title="#{bundle.ViewOfficinaTitle_id}"/>
                    <h:outputText value="#{bundle.ViewOfficinaLabel_indirizzo}"/>
                    <h:outputText value="#{officinaController.selected.indirizzo}" title="#{bundle.ViewOfficinaTitle_indirizzo}"/>
                    <h:outputText value="#{bundle.ViewOfficinaLabel_postiauto}"/>
                    <h:outputText value="#{officinaController.selected.postiauto}" title="#{bundle.ViewOfficinaTitle_postiauto}"/>
                    <h:outputText value="#{bundle.ViewOfficinaLabel_nome}"/>
                    <h:outputText value="#{officinaController.selected.nome}" title="#{bundle.ViewOfficinaTitle_nome}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{officinaController.destroyAndView}" value="#{bundle.ViewOfficinaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewOfficinaEditLink}"/>
                <br />
                <h:commandLink action="#{officinaController.prepareCreate}" value="#{bundle.ViewOfficinaCreateLink}" />
                <br />
                <h:commandLink action="#{officinaController.prepareList}" value="#{bundle.ViewOfficinaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewOfficinaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
